# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/

build

# Specific to this project
credentials_b.json

.DS_Store
cex_volume_tracker.egg-info
uv.lock
.roo
.roomodes
hummingbot_api_manager.py
.env
